{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="col">
            <h2 class="heading">Formulaire de connexion</h2>
            <form method="post" id="monFormulaire">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté(e) en tant que :<br> {{ app.user.userIdentifier }}, 
                        <a class="btn-style primary" href="{{ path('app_logout') }}">Me déconnecter</a>
                    </div>
                {% endif %}

                <label for="inputEmail">E-mail</label>
                
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputPassword">Mot de passe</label>
                    
                <div class="input-group">
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    <button type="button" class="btn btn-outline-secondary" onclick="document.getElementById('inputPassword').type = (document.getElementById('inputPassword').type === 'password') ? 'text' : 'password'">
                            Afficher/Masquer
                    </button>
                </div>
                    
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
                <button class="btn-style primary" type="submit">Me connecter
                </button>
            </form>
        </div>
    </div>
</section>

{% endblock %}
